{% extends 'base.html' %}

{% block title %} Iconicle {% endblock %}

{% block content %}

<h1>Iconicle</h1>

<div class="container">
    <h2>Iconicle Instructions</h2>
    <h3>How To Play:</h3>
    <li>Insert your guess into the search bar and click submit when you are ready.</li>
    <li>A valid guess will consist of <b>1</b> keyword of the meme.</li>
    <li><b>The Goal:</b> Guess your meme in as few rounds as possible.</li>
    <h4>Example:</h4>
    <img src="https://www.chicagotribune.com/resizer/W4ON3tfArZaP13qAD6fLQ8T64zA=/1200x630/filters:format(jpg):quality(70)/www.trbimg.com/img-57c4a831/turbine/ct-gene-wilder-condescending-wonka-meme-20160829">
    <h5><b>Wonka</b> is a keyword in this iconic "Condescending Wonka"</h5>
</div>

{% endblock %}