{% extends 'base.html' %}

{% block title %} Iconicle {% endblock %}

{% block content %}

<h1>Iconicle</h1>



<div id="container">
    <div id="record"></div>
</div>
<div id="container">
    <div id="search-guess"></div>

    
</div>
<div id="container">
    <div id="meme-image"></div>
</div>

<div class="container">
    <button class="btn-primay" id="display-game">Display Game</button>
</div>
<div class="container">
    <button class="btn-primary" id="start-game">Start Game</button>
</div>

{% endblock %}