{% extends 'base.html' %}

{% block title %} Iconicle {% endblock %}

{% block content %}

<h1>Iconicle</h1>
<section id="memeo">
    <form methods="POST" class="add-keyword">
        <input type="text" class="keyword" name="keyword" placeholder="Enter your keyword">
        <button>Enter</button>
    </form>
    <h4>Round</h4>
    <p class="round">0</p>
    <h4>Result</h4>
    <p class="msg"></p>
    <div class="image-container">
        <img src="{{ src }}">
    </div>
    <form action="/" method="GET" class="restart-btn">
        <button>Restart Game</button>
    </form>
</section>
    <script src="/static/game.js"></script>
    <script>
        let game = new MemeoGame("memeo")
    </script>
{% endblock %}